<!DOCTYPE html>
<html>
<body>

<img src="/static/edg_logo.png" alt="Endeavour Group Logo" width="250" height="100">

<h2 style="color: 191c19; font-family: din-condensed,sans-serif; font-weight: 400;
font-style: normal;
letter-spacing: .0099em; text-align: left;">Positive reviews</h2>
<img src="/static/wordcloudpositive.png" alt="Positive reviews" width="auto" height="auto">

<h2 style="color: 191c19; font-family: din-condensed,sans-serif; font-weight: 400;
font-style: normal;
letter-spacing: .0099em; text-align: left;">Negative reviews</h2>
<img src="/static/wordcloudnegative.png" alt="Negative reviews" width="auto" height="auto">

<h2 style="color: 191c19; font-family: din-condensed,sans-serif; font-weight: 400;
font-style: normal;
letter-spacing: .0099em; text-align: left;">Overall reviews</h2>
<img src="/static/wordcloudoverall.png" alt="Overall reviews" width="auto" height="auto">

</body>
</html>
